.member-hero {
    padding-top: 90px;
    position: relative;
    display: flex;
    &.desktop {
        @media (max-width:1099px) {
            display: none;
        }
    }
    &.mobile {
        display: none;
        padding: 42px 0;
        margin-top: 95px;
        .img-container {
            width: 100%;
            max-width: 100%;
        }
        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        @media (max-width:1099px) {
            display: block;
            padding: 0;
        }
        @media (max-width:467px) {
            margin-top: 83px;
            padding: 0;
        }
    }


    &__slider {


    }

    .link-container {
        padding: 24px 0;
    }


    .member-content-container {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &__img {
        width: 100vw;
        height: calc(100vh - 83px);

        position: relative;
        display: inline-block;
        
        overflow: hidden;
        
        img {
            width: 122%;
            height: 143%;
            object-fit: cover;
            object-position: center;
            display: flex;
            
        }
    }

    


    .member-hero__description {
        position: absolute;
        top: 160px;
        left: 0;
        height: 89dvh;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (max-width: 1920px) {
            height: 85dvh;
            max-width: 50%;
        }
        @media (max-width:1660px) {
            top: 120px;
        }
        .back-link {
            width: fit-content;
            margin-top: auto;
            margin-bottom: 50px;
            &:hover {
                svg {
                    transform: scale(1.1);
                    transition: 0.2s ease;
                }
            }
            svg {
                width: 35px;
                height: 35px;
                transition: 0.2s ease;
            }
        }
    }

    &__name {
        // position: absolute;
        // top: 160px;
        // left: 0;
        margin-bottom: 100px;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-family: var(--font-family);
        @media (max-width:1920px) {
            margin-bottom: 60px;
        }
        span {
            font-family: var(--font-family);
            font-size: 120px;
            line-height: 1;
            margin: 0;
            text-align: right;
            font-weight: 300;
            @media (max-width:1920px) {
                font-size: 110px;
            }
            @media (max-width:1660px) {
                font-size: 100px;
            }
            @media (max-width:1440px) {
                font-size: 80px;
            }

            &:not(:first-of-type) {
                color: #FD5E0F;
                font-weight: 700;
                margin-left: 24px;
                // display: flex;
                // justify-content: flex-end;
            }
        }
    }

    &__info {
        // position: absolute;

        // top: 31%;
        // left: 0;

        // @media (max-height:900px) {
        //     top: 40%;
        // }
        // @media (max-height:800px) {
        //     top: 42%;
        // }

        margin-bottom: 200px;
        @media (max-width:1920px) {
            margin-bottom: 150px;
        }
        @media (max-width:1699px) {
            margin-bottom: 70px;
        }
        p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 18px;
            line-height: 133%;
            text-transform: uppercase;
            text-align: justify;
            color: #fff;
            max-width: 800px;
            margin-top: 0;
            @media (max-width:1920px) {
                font-size: 16px;
            }
            @media (max-width:1660px) {
                max-width: 500px;
                font-size: 14px ;
            }
            @media (max-width:1440px) {
                font-size: 12px;
            }

            @media (max-height:800px) {
                font-size: 12px;
            }
        }
    }


    &__link {

        .section-link {


        }

        &-1 {

            // position: absolute;
            // top: 70%;
            // left: 0;


            // @media (max-height:1000px) {
            //     bottom: 42px;
            // }

            .section-link {

                width: fit-content;

                a {
                    display: flex;
                    flex-direction: column;
                    color: #fff;
                    font-size: 20px;
                }
                svg {
                    width: 400px;
                    height: auto;
                }

            }
        }

        &-2 {

            .section-link {
                position: absolute;
                right: 0;
                bottom: 50px;
                a {
                    display: flex;
                    flex-direction: column;
                    color: #fff;
                    font-size: 20px;
                    svg {
                        width: 400px;
                        height: auto;
                    }
                }

            }
        }

    }

    &__service {

        position: absolute;

        top: 160px;
        right: 0;

        max-width: 400px;

        @media (max-width:1499px) {
            top: 120px;
            right: -100px;
        }

        h6 {
            font-family: var(--font3);
            font-weight: 600;
            font-size: 18px;
            text-transform: uppercase;
            color: #fff;

            margin: 0 0 6px;

            @media (max-width:1440px) {
                font-size: 16px;
            }
        }

        p {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 16px;
            text-transform: uppercase;
            color: #fd5e0f;

            margin: 0;

            @media (max-width:1440px) {
                font-size: 14px;
            }
        }

        a {
            font-family: var(--font3);
            font-weight: 600;
            font-size: 18px;
            text-transform: uppercase;
            color: #fff;

            transition: .2s ease;

            @media (max-width:1440px) {
                font-size: 16px;
            }

            &:hover {
                transition: .2s ease;

                border-bottom: 1px solid #fff;
            }
        }
        span {
            color:  #fff;
        }
    }

}



.member-hero-mobile {

    &__container {
        width: 100%;
    }

    &__wrapper {
        margin-top: 42px;

        @media (max-width:767px) {
            margin-top: 24px;
        }
        @media (max-width:467px) {
            margin-top: 12px;
        }
    }

    &__name {

        display: flex;
        flex-direction: column;

        padding: 24px 0;

        @media (max-width:767px) {
            
        }
        @media (max-width:567px) {
            padding: 18px 0;
        }

        h2 {
            flex-shrink: 0;
            @media (max-width:567px) {
                font-size: 42px !important;
            }
        }

        &-top {

            display: flex;
            justify-content: space-between;

            h2 {
                font-weight: 300;
                font-size: 50px;
                color: #000;
                margin: 0;
                font-family: var(--font-family);
                text-transform: uppercase;
            }

            .member-hero-post {
                display: flex;
                flex-direction: column;

                justify-content: center;
                padding-left: 20px;
                flex-shrink: 1;

                h6 {
                    font-size: 14px;
                    color: #000;
                    font-family: var(--font-family);

                    text-transform: uppercase;

                    margin: 0;

                    @media (max-width:567px) {
                        font-size: 12px;
                    }
                    @media (max-width:467px) {
                        font-size: 10px;
                    }
                }
                p {
                    font-size: 14px;
                    color: #000;
                    font-family: var(--font-family);

                    margin: 0;

                    @media (max-width:567px) {
                        font-size: 12px;
                    }
                    @media (max-width:467px) {
                        font-size: 10px;
                    }
                }
            }

        }
        &-bottom {
            h2 {
                font-family: var(--font-family);
                font-weight: 600;
                font-size: 50px;
                color: #FD5E0F;
                margin: 0 0 0 50px;
                text-transform: uppercase;
            }
        }
    }

    &__tabs {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 16px;

        padding: 48px;

        border-top: 1px solid #000;
        border-bottom: 1px solid #000;

        margin-bottom: 42px;


        @media (max-width:1024px) {
            padding: 24px 24px;
        }
        @media (max-width:567px) {
            padding: 12px 2.5%;
            gap: 8px;
        }
        @media (max-width:467px) {
            padding: 10px 12px;
            margin-bottom: 24px;
        }


        a {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 18px;
            line-height: 500%;
            text-transform: uppercase;
            color: #fd5e0f;

            padding: 6px 12px;

            border: 1px solid #FD5E0F;

            display: flex;
            align-items: center;
            justify-content: center;
            height: fit-content;
            max-height: 36px;

            @media (max-width:767px) {
                font-size: 16px;
            }
            @media (max-width:567px) {
                font-size: 14px;
                max-height: 20px;
            }
            @media (max-width:467px) {
                font-size: 10px !important;
                padding: 4px 8px;
            }
        }

    }

    &__info {
        display: flex;
        gap: 32px;

        margin-bottom: 32px;
        margin-left: 24px;
        @media (max-width:676px) {
            margin-left: 0;
        }

        @media (max-width:676px) {
            flex-direction: column;
        }
        @media (max-width:467px) {
            gap: 12px;
        }

        img {
            width: 100%;
            object-fit: cover;
            object-position: center;


            max-width: 400px;

            @media (max-width:867px) {
                max-width: 300px;
            }
            @media (max-width:676px) {
                width: 100%;
                max-width: 100%;
            }
        }
    }
    &__text {

        max-height: 400px;
        overflow-y: scroll;

        padding: 12px;
        border: 1px solid #FD5E0F;

        @media (max-width:676px) {
            max-width: 80%;
            margin: 0 auto;
        }
        @media (max-width:467px) {
            max-height: 300px;
        }


        p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #000;

            padding-right: 32px;

            margin-top: 0;

            @media (max-width:867px) {
                font-size: 16px;
            }
            @media (max-width:467px) {
                font-size: 14px;
            }
            @media (max-width:390px) {
                font-size: 12px;
            }
        }
    }

    &__link {

        &-1 {

            display: flex;
            align-items: center;
            justify-content: center;

            padding: 24px 0;

            border-top: 1px solid #000;
            border-bottom: 1px solid #000;

            .section-link {

                width: fit-content;

                a {
                    display: flex;
                    flex-direction: column;

                    color: #000;

                    font-size: 16px;

                }

            }
        }

        &-2 {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .section-link {


                a {
                    display: flex;
                    flex-direction: column;

                    color: #000;

                }

            }
        }
    }
}

.member-hero__achievements {
    color: black;
    > .container {
        padding-top: 112px;
        @media (max-width: 1299px) {
            padding-top: 90px;
        }
        @media (max-height:899px) {
            padding-top: 90px;
        }
    }
    .member-hero__achievements-title-wrapper {
        padding-top: 70px;
        padding-bottom: 100px;
        position: relative;
        @media (max-width: 1920px) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        @media (max-width: 1699px) {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        @media (max-width:991px) {
            padding: 0;
        }
        
        &::after {
            width: 5000px;
            content: "";
            bottom: 0;
            left: -50%;
            height: 1px;
            background-color: black;
            position: absolute;
        }
        .member-hero__achievements-title {
            margin: 0;
            font-weight: 300;
            font-size: 120px;
            color: #000;
            margin: 0;
            font-family: var(--font-family);
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            @media (max-width: 1699px) {
                font-size: 100px;
            }
            @media (max-width:1499px) {
                font-size: 80px;
                padding-bottom: 72px;
            }
            @media (max-width: 1099px) {
                font-size: 80px;
            }
            @media (max-width:991px) {
                display: none;
            }
            @media (max-width: 767px) {
                font-size: 50px;
            }
            @media (max-width: 575px) {
                font-size: 40px;
            }

            @media (max-height:899px) {
                padding-bottom: 0;
            }

            .surname {
                color: #FD5E0F;
                font-weight: 700;
            }
        }
    }

    .member-hero-mobile__tabs {
        border: none;
        position: relative;

        display: none;

        @media (max-width:1099px) {
            display: flex;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: -50%;
            width: 200%;
            height: 1px;
            background-color: #000;
            
        }
    }

    .member-hero__achievements-items {
        display: flex;
        align-items: flex-start;
        position: relative;
        @media (max-width: 991px) {
            flex-wrap: wrap;
        }
        &::after {
            width: 5000px;
            content: "";
            top: 50%;
            left: -50%;
            height: 1px;
            background-color: black;
            position: absolute;
            z-index: -1;
            @media (max-width: 991px) {
                display: none;
            }
        }
        &--top {
            margin-top: 118px;
            @media (max-width: 1920px) {
                margin-top: 75px;
            }
            @media (max-width:1499px) {
                margin-top: 112px;
            }
            @media (max-width: 1199px) {
                margin-top: 50px;
            }
            @media (max-width: 991px) {
                margin-top: 20px;
            }
            @media (max-width: 767px) {
                margin-top: 50px;
            }
        }
        &--bottom {
            
            justify-content: center;

            @media (max-width:1499px) {
                margin-top: 0;
            }
            @media (max-width: 1199px) {
                
            }
            @media (max-width: 991px) {
                
            }
            @media (max-width: 575px) {
                margin-top: 0;
            }
            .member-hero__achievements-item {
                margin-left: 45% !important;

                cursor: pointer;

                @media (max-width: 1920px) {
                    margin-left: 150px;
                }
                @media (max-width: 1699px) {
                    margin-left: 100px;
                }
                @media (max-width: 1399px) {
                    margin-left: 0;
                }
                @media (max-width:991px) {
                    margin-left: 0 !important;
                }
            }
        }
        .member-hero__achievements-item {
            height: 200px;
            width: 30%;
            transition: .2s ease;
            margin: 0;
            cursor: pointer;
            

            &.active {
                margin-right: 200px;
            }

            @media (max-width: 1920px) {

            }
            @media (max-width: 1499px) {

                height: 170px;
            }
            @media (max-width: 1099px) {
                
            }
            @media (max-width: 991px) {
                width: 100%;
                margin-right: 0;
                margin-left: 0;
                margin-bottom: 20px;
                position: relative;
                &::after {
                    width: 5000px;
                    content: "";
                    top: 50%;
                    left: -50%;
                    height: 1px;
                    background-color: black;
                    position: absolute;
                    z-index: -1;
                }
            }
            @media (max-width: 575px) {
                margin-bottom: 0;
            }
        }
        .member-hero__achievements-item-title {
            height: 200px;
            width: 200px;
            aspect-ratio: 1/1;
            background-color: #FD5E0F;
            padding: 12px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-sizing: border-box;
            

            @media (max-width: 1499px) {
                height: 170px;
                width: 170px;
            }
            
            @media (max-width: 575px) {
                height: 150px;
                width: 150px;
            }

            .arrow {
                transition: .2s ease;
            }
            &.expanded {
                .arrow {
                    transform: rotate(-180deg);
                    transition: 0.2s ease;
                }    
            }

            h4 {
                color: white;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 18px;
                line-height: 110%;
                text-transform: uppercase;
                text-align: justify;
                color: #fff;
                width: fit-content;
                margin: 0;
                max-width: 100%;
                hyphens: auto;
                @media (max-width: 1920px) {
                    font-size: 16px;
                }
                @media (max-width: 1660px) {
                    font-size: 15px;
                }
                @media (max-width: 1499px) {
                    font-size: 14px;
                }
                @media (max-width:1380px) {
                    font-size: 14px;
                }
                @media (max-width: 1280px) {
                    font-size: 14px;
                }
                @media (max-width: 1199px) {
                    font-size: 12px;
                }
                @media (max-width: 1099px) {
                    font-size: 12px;
                    // word-break: break-word;
                }
                @media (max-width:991px) {
                    font-size: 14px;
                }
                @media (max-width: 767px) {
                    font-size: 12px;
                }
                @media (max-width: 676px) {
                }
                @media (max-width: 575px) {
                    font-size: 14px;
                }
                @media (max-width:467px) {
                    font-size: 12px;
                }
                @media (max-width:390px) {
                    font-size: 12px;
                }
            }
        }
        .member-hero__achievements-item-content {
            overflow: hidden;
            transform: translate(200px, -200px);
            top: 0;
            left: 0;
            opacity: 0;
            width: 0;
            height: 200px;
            
            background-color: white;
            border: 1px solid #FD5E0F;
            border-left: none;
            @media (max-width: 1499px) {
                transform: translate(170px, -170px);
            }
            @media (max-width: 575px) {
                transform: translate(150px, -150px);
            }
            > .content {
                overflow: hidden;
                p {
                    transition: 0.2s ease;
                }
                &.scroll-text {
                    max-height: 200px;
                    overflow: visible;
                    box-sizing: border-box;
                    text-transform: uppercase;
                    padding: 20px;
                    font-size: 18px;
                    @media (max-width: 1920px) {
                        font-size: 16px;
                        padding: 16px;
                    }
                    @media (max-width:1499px) {
                        font-size: 12px;
                        max-height: 170px;
                        padding: 12px;
                    }
                    @media (max-width: 1199px) {
                        font-size: 16px;
                    }
                    @media (max-width: 767px) {
                        max-height: 170px;
                        
                    }
                    @media (max-width: 575px) {
                        max-height: 150px;
                        font-size: 12px;
                        padding: 8px 12px 8px 8px;
                    }
                    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
                        width: 20px;
                        height: 20px;
                        right: 2px;
                        box-sizing: border-box;
                        @media (max-width: 575px) {
                            width: 15px;
                            height: 15px;
                            right: 0;
                        }
                    }
                    .mCustomScrollBox {
                        padding-right: 10px;
                    }
                }
            }
        }
        .member-hero__achievements-item-content.active {
            top: 0;
            left: 200px;
            opacity: 1;
            width: 450px;
            height: 200px;
            transition: .2s ease;
            @media (max-width: 1920px) {
                width: 400px;
            }
            @media (max-width: 1699px) {
                width: 350px;
            }
            @media (max-width: 1499px) {
                width: 300px;
                height: 168px;
            }
            @media (max-width: 1199px) {
                width: 250px;
            }
            @media (max-width: 991px) {
                width: 550px;
            }
            @media (max-width: 767px) {
                height: 170px;
                width: 400px;
            }
            @media (max-width: 699px) {
                width: 350px;
            }
            @media (max-width: 575px) {
                height: 150px;
                width: 300px;
            }
            @media (max-width: 499px) {
                width: 250px;
            }
            @media (max-width: 449px) {
                width: 200px;
            }
            > .content {
                p {
                    transition: 0.2s ease;
                }
            }
        }
    }
    .swiper-navigation-wrapper--member {
        margin-top: 125px;
        position: relative;
        margin-bottom: 50px;
        @media (max-width: 1920px) {
            margin-top: 60px;
            position: relative;
            margin-bottom: 50px;
        }
        .ui-section__button--primary {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;
            transition: 0.2s ease;
            background-color: rgba(255, 255, 255, 0);
            border: none;
            &:hover {
                transform: translateX(-50%) scale(1.15);
                transition: 0.2s ease;
            }
        }
        .member-hero__slider-button-prev {
            svg {
                @media (max-width: 991px) {
                    width: 250px;
                }
                @media (max-width: 767px) {
                    width: 200px;
                }
                @media (max-width: 575px) {
                    width: 150px;
                }
            }
        }
    }
}

/* Custom scrollbar styles */
.mCS-autoHide>.mCustomScrollBox>.mCSB_scrollTools, .mCS-autoHide>.mCustomScrollBox~.mCSB_scrollTools {
    opacity: 1;
    filter: "alpha(opacity=0)";
    -ms-filter: "alpha(opacity=0)";
}
.mCSB_1_scrollbar_vertical {
    opacity: 1 !important;
}
.mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical, .mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical {
    right: 14px;
    margin: 12px 0;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #fd5e0f !important; /* Color of the scrollbar thumb */
    border-radius: 0px !important; /* Making the thumb square */
    width: 32px;
    height: 32px;
    right: 48%;
    opacity: 1;
    @media (max-width:467px) {
        width: 20px;
        height: 20px;
        right: 10%;
    }
    @media (max-width:390px) {
        width: 16px;
        height: 16px;
        right: 0%;
    }
}
.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #ff6600 !important; /* Color of the scrollbar track */
}












// new
.member-hero__slider {

    .swiper-wrapper {

        
        .swiper-slide {
            
            &:nth-child(1) {
                z-index: 1;
            }
        }  
        
    }
    
}

.member-hero-mobile__name.inner {
    display: none;
    margin-bottom: 0;
    @media (max-width:991px) {
        display: block;
    }
}
