.services-slider {

  overflow: hidden;
  margin-top: 84px;

 


  &__service {
    display: flex;
    flex-direction: column;
    gap: 12px;


    position: relative;

    @media (max-width:1380px) {
      gap: 224px;
    }
    @media (max-width:467px) {
      gap: 282px;
    }

    &::before {
      content: 'ПАРТНЁРЫ';
      width: 4000px;
      height: 1px;
      position: absolute;
      top: 66%;
      left: -10%;
      background-color: #000;

      font-family: var(--font-family);
      color: #000;

      font-size: 18px;

      display: flex;
      flex-direction: column-reverse;

      @media (max-width:1440px) {
        font-size: 14px;
      }
    } 

  }

  &__slider {
    margin-bottom: 42px;
    .swiper-slide {
      opacity: 0;

      &-active {
        opacity: 1;
      }
    }

  }
  &__team-slider {
    overflow: hidden;

    position: relative;

    &-button {

      &-prev {
        position: absolute;
      }
      &-next {
        position: absolute;
        @media (max-width:1440px) {
          right: -33px;
          bottom: 46px;
        }
      }
    }


    .swiper-slide {
      opacity: 1;

      &-active {
        opacity: 1;
      }
    }

    .team-slider__member {
      display: flex;
      flex-direction: column;
      gap: 16px;

      img {
          width: 100%;
          object-fit: cover;
          object-position: center;


      }

      div {
        display: flex;
        flex-direction: column;
        
        max-width: 150px;

        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: 8px;
          height: 8px;
          top: 0;
          left: 0;
          background-color: #A50034;

        }

        h6 {
          font-family: var(--font-family);
          font-weight: 700;
          font-size: 18px;
          line-height: 100%;
          text-transform: uppercase;
          color: #000;

          margin: 0 0 6px 12px;

          @media (max-width:1440px) {
            font-size: 12px;
          }
        }

        p {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 14px;
          line-height: 100%;
          text-transform: uppercase;
          color: #000;

          margin: 0 0 0 12px;

          @media (max-width:1440px) {
            font-size: 10px;
          }
        }

      }
    }

  }



  &__card {
    background-color: #A50034;

    padding: 12px;
    width: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 220px;
    width: 400px;

    cursor: pointer;

    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 5000px;
      height: 1px;
      top: 50%;
      background-color: #000;
      left: -350%;
      z-index: -1;
  
    }


    @media (max-width:1920px) {
      height: 200px;
      width: 340px;
    }
    @media (max-width:1660px) {
      height: 180px;
      width: 340px;
    }

    @media (max-width:1440px) {
      height: 140px;
      width: 280px;
    }
    @media (max-width:1380px) {
      height: 130px;
      width: 260px;
    }
    @media (max-width:1280px) {
      height: 120px;
      width: 240px;
    }
    @media (max-width:767px) {
      height: 135px;
      width: 186px;
    }
    @media (max-width:467px) {
      width: 150px;
      height: 150px;
    }

    &-expanded {
      background-color: #fff;
      padding: 12px;
      position: absolute;
      top: 0;
      left: 100%;
      width: auto;

      border: 1px solid #A50034;
     
      height: -webkit-fill-available;

      display: none;

      gap: 24px;

      

      &.expanded {
        display: flex;

        @media (max-width:1380px) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          height: auto;
          gap: 12px;
        }
        @media (max-width:767px) {
          left: 0;
          z-index: -1;
        }
      }


      p {
        font-family: var(--font-family);
        font-weight: 400;
        
        font-size: 12px;
        text-transform: uppercase;
        color: #000;

        margin-left: 12px;

        position: relative;

        @media (max-width:1660px) {
          font-size: 11px;
        }

        @media (max-width:1440px) {
          font-size: 10px;
        }

        &::before {
          content:'';
          position: absolute;
          width: 8px;
          height: 8px;
          left: -12px;
          top: 0;
          background-color: #A50034;
        }
      }

      div {
        // display: flex;
        // flex-direction: column;
        // width: 200px;
        width: 200px;

        @media (max-width:467px) {
          width: 160px;
        }

        &:nth-child(1) {
          @media (max-width:767px) {
            p {
              opacity: 0;
            }
          }
        }

        // &:nth-child(4) {
        //   @media (max-width:1380px) {
        //     display: none;
        //   }
          
        // }
        // &:nth-child(3) {
        //   @media (max-width:1199px) {
        //     display: none;
        //   }
        // }

        // &:nth-child(4) {
        //   @media (max-width:1024px) {
        //     position: absolute;
        //     left: -58%;
        //     bottom: 5%;
        
        //   }
        // }
       }

    }

    h4 {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 20px;
      line-height: 110%;
      text-transform: uppercase;
      text-align: justify;
      color: #fff;

      margin: 0;

      @media (max-width:1440px) {
        font-size: 18px;
      }
      @media (max-width:1024px) {
        font-size: 16px;
      }
    }
    
    &-link {   
      display: flex;
      align-items: center;
      color: #fff;
      justify-content: flex-end;
      font-size: 14px;

      gap: 16px;
    }
  }


}



.services-hero {
  padding: 42px 0;

  max-width: 80%;
  
  margin-inline: auto;

  @media (max-width:1660px) {
    max-width: 90%;
  }
  @media (max-width:567px) {
    padding-bottom: 0;
  }

  .section-link {
    align-items: flex-end;

    position: relative;
    bottom: 50px;

    @media (max-width:567px) {
      bottom: 30px;
    }

    a {
      display: flex;
      flex-direction: column;
     
    }
  }

  p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: justify;
    color: #000;

    max-width: 600px;

    max-width: 600px;
    position: relative;
    bottom: 50px;

    margin: 0;

    @media (max-width:1199px) {
        font-size: 22px;
       
    }
    @media (max-width:1099px) {
      max-width: 300px;
    }
    @media (max-width:991px) {
        font-size: 18px;
        text-align: unset;
        
    }
    @media (max-width:867px) {
        font-size: 16px;
    }
    @media (max-width:676px) {
        display: none;
    }
}
}
.services-grid {

  padding: 42px 0;

  max-width: 80%;
  
  margin-inline: auto;

  @media (max-width:1660px) {
    max-width: 90%;
  }

  &__card {

    
    

    display: flex;
    flex-direction: column;
    gap: 56px;

    height: 180px;

    @media (max-width:1440px) {
      height: 140px;
    }

    transition: .5s ease;

    &:not(:has(div)) {
      // Ваши стили для элементов <a>, у которых нет дочернего <div>
      margin: 4px 8px;

      @media (max-width:1099px) {
        margin: 0;
      }
    }

    &:hover {
      transition: .5s ease;
      .services-grid__name {
        transition: .5s ease;
        color: #fff;
      }

      svg {
        transition: .5s ease;
        path {
          transition: .5s ease;
          fill: #fff;
        }
      }
    }

    a {
      

      &.red {
        background-color: #A50034;

        @media (max-width:567px) {
          background-color: #C4C0BD;
        }
      }
      &.orange {
        background-color: #FD5E0F;
      }
      &.gray {
        background-color: #C4C0BD;
      }

      padding: 10px;

      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;

      align-items: flex-end;

      @media (max-width:1099px) {
        align-items: unset;
      }

      svg {
        margin-bottom: 6px;
        transition: .5s ease;

        @media (max-width:1099px) {
          width: 100%;
          display: flex;
          margin-left: 40%;
        }

        path {
          transition: .5s ease;
        }
      }

    }


  }
  &__name {
    
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 121%;
    text-transform: uppercase;
    color: #000;

    transition: .5s ease;

    max-width: 191px;

    margin-bottom: 12.5%;

    margin: 0;

    @media (max-width:1920px) {
      font-size: 16px;
    }
    @media (max-width:1660px) {
      font-size: 15px;
    }
    @media (max-width:1440px) {
      font-size: 14px;
      max-width: 300px;
    }
    @media (max-width:1280px) {
      font-size: 12px;
    }
    @media (max-width:1199px) {
      font-size: 10px;
    }
    @media (max-width:1099px) {
      font-size: 13px;
    }
    @media (max-width:767px) {
      font-size: 12px;
    }
    @media (max-width:676px) {
      max-width: 100%;
      
    }
  }
    
}


.services-grid.secondary {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "services-grid__card-1 services-grid__card-2 services-grid__card-3 services-grid__card-4 services-grid__card-5 services-grid__card-6 services-grid__card-7 services-grid__card-8"
    "services-grid__card-9 services-grid__card-10 services-grid__card-11 services-grid__card-12 services-grid__card-13 services-grid__card-14 services-grid__card-15 services-grid__card-16"
    "services-grid__card-17 services-grid__card-18 services-grid__card-19 services-grid__card-20 services-grid__card-21 services-grid__card-22 services-grid__card-23 services-grid__card-24";
}

.services-grid__card-1 { 
  grid-area: services-grid__card-1;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    background-color: #000;
    height: 1px;
    width: 100%;

    width: 250%;
    left: -25%;

    z-index: -1;

    display: none;

    @media (max-width:676px) {
      display: block;
    }

  }

 }

.services-grid__card-2 { grid-area: services-grid__card-2; }

.services-grid__card-3 { 
  grid-area: services-grid__card-3;

  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    background-color: #000;
    height: 1px;
    width: 100%;

    width: 250%;
    left: -25%;

    z-index: -1;

    display: none;

    @media (max-width:676px) {
      display: block;
    }

  }
 }

.services-grid__card-4 { grid-area: services-grid__card-4; }

.services-grid__card-5 {
   grid-area: services-grid__card-5; 

   position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    background-color: #000;
    height: 1px;
    width: 100%;

    width: 250%;
    left: -25%;

    z-index: -1;

    display: none;

    @media (max-width:676px) {
      display: block;
    }

  }
  }

.services-grid__card-6 { grid-area: services-grid__card-6; }

.services-grid__card-7 { 
  grid-area: services-grid__card-7; 

  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    background-color: #000;
    height: 1px;
    width: 100%;

    width: 250%;
    left: -25%;

    z-index: -1;

    display: none;

    @media (max-width:676px) {
      display: block;
    }

  }
}

.services-grid__card-8 { grid-area: services-grid__card-8; }

.services-grid__card-9 {
   grid-area: services-grid__card-9; 

   position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    background-color: #000;
    height: 1px;
    width: 100%;

    width: 250%;
    left: -25%;

    z-index: -1;

    display: none;

    @media (max-width:676px) {
      display: block;
    }

  }

  }

.services-grid__card-10 { grid-area: services-grid__card-10; }

.services-grid__card-11 { 
  grid-area: services-grid__card-11;

  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    background-color: #000;
    height: 1px;
    width: 100%;

    width: 250%;
    left: -25%;

    z-index: -1;

    display: none;

    @media (max-width:676px) {
      display: block;
    }

  }

 }

.services-grid__card-12 { grid-area: services-grid__card-12; }

.services-grid__card-13 { 
  grid-area: services-grid__card-13; 

  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    background-color: #000;
    height: 1px;
    width: 100%;

    width: 250%;
    left: -25%;

    z-index: -1;

    display: none;

    @media (max-width:676px) {
      display: block;
    }

  }

}

.services-grid__card-14 { grid-area: services-grid__card-14; }

.services-grid__card-15 { 
  grid-area: services-grid__card-15; 

  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    background-color: #000;
    height: 1px;
    width: 100%;

    width: 250%;
    left: -25%;

    z-index: -1;

    display: none;

    @media (max-width:676px) {
      display: block;
    }

  }

}

.services-grid__card-16 { grid-area: services-grid__card-16; }

.services-grid__card-17 {
   grid-area: services-grid__card-17;

   position: relative;

   &::before {
     content: '';
     position: absolute;
     top: 50%;
     background-color: #000;
     height: 1px;
     width: 100%;
 
     width: 250%;
     left: -25%;
 
     z-index: -1;

     display: none;

     @media (max-width:676px) {
      display: block;
     }

   }

   }

.services-grid__card-18 { grid-area: services-grid__card-18; }

.services-grid__card-19 {
   grid-area: services-grid__card-19; 

   position: relative;

   &::before {
     content: '';
     position: absolute;
     top: 50%;
     background-color: #000;
     height: 1px;
     width: 100%;
 
     width: 250%;
     left: -25%;
 
     z-index: -1;

     display: none;

     @media (max-width:676px) {
      display: block;
     }

   }

  }

.services-grid__card-20 { grid-area: services-grid__card-20; }

.services-grid__card-21 { 
  grid-area: services-grid__card-21; 

  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    background-color: #000;
    height: 1px;
    width: 100%;

    width: 250%;
    left: -25%;

    z-index: -1;

    display: none;

    @media (max-width:676px) {
      display: block;
    }

  }

}

.services-grid__card-22 { grid-area: services-grid__card-22; }

.services-grid__card-23 { 
  grid-area: services-grid__card-23; 

  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    background-color: #000;
    height: 1px;
    width: 100%;

    width: 250%;
    left: -25%;

    z-index: -1;

    display: none;

    @media (max-width:676px) {
      display: block;
    }

  }

}

.services-grid__card-24 { grid-area: services-grid__card-24; }





.services-grid-top {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "services-grid__card-1 services-grid__card-2 services-grid__card-3 services-grid__card-4 services-grid__card-5 services-grid__card-6 services-grid__card-7 services-grid__card-8";

  position: relative;


  @media (max-width:1099px) {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "services-grid__card-1 services-grid__card-2 services-grid__card-3 services-grid__card-4"
      "services-grid__card-5 services-grid__card-6 services-grid__card-7 services-grid__card-8"; 
    }

  @media (max-width:676px) {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "services-grid__card-1 services-grid__card-2"
      "services-grid__card-3 services-grid__card-4"
      "services-grid__card-5 services-grid__card-6"
      "services-grid__card-7 services-grid__card-8"; 
  }

  // padding: 42px 14% 0;

  // @media (max-width:1440px) {
  //   padding: 42px 72px 0;
  // }


  &::after {
    content: '';
    position: absolute;
    top: 50%;
    background-color: #000;
    width: 200%;
    right: -50%;
    height: 1px;


    z-index: -1;
    @media (max-width:1099px) {
      top: 75%;
    }
    @media (max-width:676px) {
      display: none;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 25%;
    background-color: #000;
    width: 200%;
    right: -50%;
    height: 1px;


    z-index: -1;

    display: none;

    @media (max-width:1099px) {
      display: block;
    }
    @media (max-width:676px) {
      display: none;
    }
  }
}


.services-grid-middle {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "services-grid__card-9 services-grid__card-10 services-grid__card-11 services-grid__card-12 services-grid__card-13 services-grid__card-14 services-grid__card-15 services-grid__card-16";

    position: relative;

    // padding: 0 14% 0;

    // @media (max-width:1440px) {
    //   padding: 0px 72px 0;
    // }

    @media (max-width:1099px) {
      display: grid; 
      grid-auto-columns: 1fr; 
      grid-auto-rows: 1fr; 
      grid-template-columns: 1fr 1fr 1fr 1fr; 
      grid-template-rows: 1fr 1fr; 
      gap: 0px 0px; 
      grid-template-areas: 
        "services-grid__card-9 services-grid__card-10 services-grid__card-11 services-grid__card-12"
        "services-grid__card-13 services-grid__card-14 services-grid__card-15 services-grid__card-16"; 
    }

    @media (max-width:676px) {
      display: grid; 
      grid-auto-columns: 1fr; 
      grid-auto-rows: 1fr; 
      grid-template-columns: 1fr 1fr; 
      grid-template-rows: 1fr 1fr 1fr 1fr; 
      gap: 0px 0px; 
      grid-template-areas: 
        "services-grid__card-9 services-grid__card-10"
        "services-grid__card-11 services-grid__card-12"
        "services-grid__card-13 services-grid__card-14"
        "services-grid__card-15 services-grid__card-16"; 
    }
  

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      background-color: #000;
      width: 200%;
      right: -50%;
      height: 1px;

  
      z-index: -1;

      @media (max-width:1099px) {
        top: 75%;
      }
      @media (max-width:676px) {
        display: none;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 25%;
      background-color: #000;
      width: 200%;
      right: -50%;
      height: 1px;

  
      z-index: -1;

      display: none;

      @media (max-width:1099px) {
        display: block;
      }
      @media (max-width:676px) {
        display: none;
      }
    }
}

.services-grid-bottom {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
"services-grid__card-17 services-grid__card-18 services-grid__card-19 services-grid__card-20 services-grid__card-21 services-grid__card-22 services-grid__card-23 services-grid__card-24";

    position: relative;

    // padding: 0 14% 0;

    // @media (max-width:1440px) {
    //   padding: 0px 72px 0;
    // }

    @media (max-width:1099px) {
      display: grid; 
      grid-auto-columns: 1fr; 
      grid-auto-rows: 1fr; 
      grid-template-columns: 1fr 1fr 1fr 1fr; 
      grid-template-rows: 1fr 1fr; 
      gap: 0px 0px; 
      grid-template-areas: 
        "services-grid__card-17 services-grid__card-18 services-grid__card-19 services-grid__card-20"
        "services-grid__card-21 services-grid__card-22 services-grid__card-23 services-grid__card-24"; 
    }

    @media (max-width:676px) {
      display: grid; 
      grid-auto-columns: 1fr; 
      grid-auto-rows: 1fr; 
      grid-template-columns: 1fr 1fr; 
      grid-template-rows: 1fr 1fr 1fr 1fr; 
      gap: 0px 0px; 
      grid-template-areas: 
        "services-grid__card-17 services-grid__card-18"
        "services-grid__card-19 services-grid__card-20"
        "services-grid__card-21 services-grid__card-22"
        "services-grid__card-23 services-grid__card-24"; 

        padding-bottom: 120px;
    }

    @media (max-width:567px) {
      padding-bottom: 60px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      background-color: #000;
      width: 200%;
      right: -50%;
      height: 1px;

  
      z-index: -1;
      @media (max-width:1099px) {
        top: 75%;
      }
      @media (max-width:676px) {
        display: none;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 25%;
      background-color: #000;
      width: 200%;
      right: -50%;
      height: 1px;

  
      z-index: -1;

      display: none;

      @media (max-width:1099px) {
        display: block;
      }
      @media (max-width:676px) {
        display: none;
      }
    }
}



.services-hero-title {

  .container {
    width: 10%;

  }

  &__title {

    display: flex;
    justify-content: space-between;
    align-items: center;

   
    h2 {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 110%;

        top: 50%;
        width: 150%;
        height: 1px;
        background-color: #000;

        @media (max-width:1099px) {
          left: 103%;
        }
        @media (max-width:513px) {
          left: 50%;
          top: 20%;
        }
      }
    }

  }
}